name: test covector
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          # some of the tests use the covector git history to run
          fetch-depth: 0
      - uses: volta-cli/action@v4
      - run: npm ci
      - run: npm run build # covector CLI tests run built files
      - run: npm test -- action
